.olddragon2e.sheet.character {
  .character-tab-race {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    .race-abilities {
      display: flex;
      flex-direction: column;

      .tab-title {
        width: 100%;
        padding: 5px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        background-color: @carmesim-600;
        color: white;
        text-align: center;
        font-size: larger;
        font-weight: bold;
      }

      ol {
        margin: 0;
        padding: 0.5rem;
        list-style: none;
        background-color: white;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;

        li {
          margin-bottom: 1rem;

          .ability-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.25rem;

            .daily-uses {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.1rem;

              input[type='checkbox'] {
                margin: 0px;
              }

              input[type='checkbox']:checked {
                accent-color: @carmesim-600;
              }
            }
          }
        }

        li p {
          margin: 0.25rem 0;
        }

        li .jp-selector {
          font-size: small;
          margin-top: -0.1rem;
        }

        li .variable-construction {
          margin-top: 0.25rem;

          .variable-construction-selectors {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .choice-row {
              display: flex;
              flex-direction: column;
              gap: 0.1rem;

              label {
                font-size: small;
              }

              select {
                width: 30%;
              }

              .custom-fields {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                margin-top: 0.25rem;

                input,
                textarea {
                  width: 100%;
                }

                textarea {
                  min-height: 3rem;
                  resize: vertical;
                  border-color: #7a7971;
                  font-family: inherit;
                }
              }
            }
          }
        }
      }
    }

    .infravision {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;
      margin-left: 0.5rem;
    }
  }
}
