.race-tab-features {
  .features {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .movement,
    .movement-swim,
    .movement-fly,
    .infravision,
    .infravision-notes,
    .alignment-tendency {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        width: 26px;
        text-align: center;
      }
    }

    .infravision-notes {
      input {
        width: auto;
        flex: 1;
        margin-left: 0.5rem;
        text-align: left;
      }
    }
  }
}
