.race-ability-tab-mechanics {
  .mechanics {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .daily-uses,
    .natural-armor,
    .load-modifier,
    .max-load-override,
    .armor-weight-modifier,
    .bonus-damage,
    .rogue-talent,
    .xp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        width: 40px;
        text-align: center;
      }

      .bonus-damage-fields {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
      }

      .rogue-talent-selectors {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .natural-weapon {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      .natural-weapon-fields {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.25rem;
        border: 1px solid #666;
        border-radius: 3px;

        .natural-weapon-field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          input {
            width: 60px;
            text-align: center;
          }
        }
      }
    }

    .jp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .jp-values {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .jp-value {
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          gap: 0.25rem;

          input[type='checkbox'] {
            margin: 3px 0;
          }
        }
      }
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25rem;

      input[type='checkbox'] {
        margin: 3px 0;
      }
    }
  }
}
