<div class="retainer-tab-heroic-action">
    <div class="heroic-action">
        <label class="tab-title">{{localize "olddragon2e.heroic_action"}}</label>
        <div class="heroic-action-toggle">
            <input id="heroic_action" type="checkbox" name="system.heroic_action_used" {{#if system.heroic_action_used}}checked{{/if}}>
            <label for="heroic_action"><strong>{{localize "olddragon2e.heroic_action_used"}}</strong>: {{localize "olddragon2e.heroic_action_description"}}</label>
        </div>
    </div>
</div>
