<div class="retainer-tab-details">
    {{!-- Anotações --}}
    <div class="notes">
        <label class="tab-title">{{localize "olddragon2e.notes"}}</label>
        {{editor system.details.notes target="system.details.notes" button=true owner=owner editable=editable}}
    </div>
</div>
